
<div class="container">
    <div class="row mt-4">
        <div class="col-md-11 col-md-offset-7 col-centered">
            <h2 class="text-primary mt-5 mb-4 text-center">{{viewTitle}}</h2>
            <div class=" d-flex justify-content-center">
                <form action="/task/list" autocomplete="off" method="PUT">
                <div class="form-group">
                    <label for="taskname">Task name:</label><br>
                    <div class="input-group-lg">
                        
                        <input required type="text" class="form-control" id="taskname" name="taskname"><br>
                    </div>
                
                    <label for="taskdesc">Task description:</label><br>
                    <div class="input-group-lg">
         <!--                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"> -->
                          <input required class="form-control" type="text" id="taskdesc" name="taskdesc"><br><br>   

                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button><br>
                <a href="/task/list" class="btn btn-light ml-5">View all</a>

            </form>
            </div>
            
        </div>
    </div>
</div>

<br>
